body {
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
    background-color: #250a1f;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

h1 {
    color: #0e5eaf;
    margin-bottom: 20px;
  ;
}

h2 {
    color: #1a293a;
    
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}  
  .form-container {
    width: 100%;
    height: max-content;
   max-height: 90%;
    max-width: 60%; /* Sets a max width for the form */
    background-color: #b16666;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d0b0d4;
  }
  
  #patientList {
    margin-top: 20px;
    border-top: 2px solid #007bff;
    padding-top: 10px;
  }
  
  .patient-item {
    border: 1px solid #882b2b;
    padding: 5px;
    margin-bottom: 10px;
  }
  


.edit-button {
    background-color: #ffcc00;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  footer {
    margin-top: 20px;
    color: #6c757d;
}

.search-container {
    display: flex; /* Use flexbox to align items in a row */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-bottom: 20px; /* Spacing below the search container */
}

.search-container .form-control {
    border-radius: 5px 0 0 5px; /* Rounded left corners */
    border-right: none; /* Remove right border for seamless connection with button */
    width: 40%; /* Set a fixed width or adjust as needed */
}

.search-container .btn {
    border-radius: 0 5px 5px 0; /* Rounded right corners */
    border-left: none; /* Remove left border for seamless connection with input */
}